<%= simple_form_for recipe_review, :url => recipe_reviews_path(recipe_review.recipe), :remote => true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :rating %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit Review" %>
  </div>
<% end %>