<%= simple_form_for @recipe do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :category_id, :collection => Category.all, :label_method => :name, :id_method => :id %>
    <%= f.input :picture %>
    <%= f.input :description %>
    <%= f.input :quantity_served %>
    <%= f.input :ingredients %>
    <%= f.input :instructions %>
    <%= f.input :url, :label => 'External Instruction URL' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
