<h2>Log in</h2>
<%= simple_form_for @user_session, :url => login_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :password %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Log in' %>
  </div>
<% end %>

<h3>OR: <%= link_to "Log in with Google", google_login_path %></h3>

<hr>
<h4>Forgot password?</h4>
<%= simple_form_for @user, :url => forgot_user_path do |f| %>
  <div class="form-inputs">
    <%= f.input :email %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Reset Password' %>
  </div>
<% end %>
