
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WikiSuperAwesomeRecipeComNetOrg.biz</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%= navbar_entry 'Categories', root_path %>
            <%= navbar_entry 'All Recipes', recipes_path, :method => :get %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= navbar_entry 'Submit New Recipe', new_recipe_path, :method => :get if logged_in? %>
            <%= navbar_entry 'My Profile', user_path, :method => :get if logged_in? %>
            <%= navbar_entry 'Log out', logout_path, :method => :delete if logged_in? %>
            <%= navbar_entry 'Sign up', new_user_path, :method => :get if logged_out? %>
            <%= navbar_entry 'Log in', login_path, :method => :get if logged_out? %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="alert alert-success">
          <p id="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-error">
          <p id="error"><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>